.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.semaforo{
  border: solid 1px #000;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em .2em;
  border-radius: 4px;
}

.led{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px #000;
}

.verde{
  background-color: green;
}

.amarillo{
  background-color: yellow;
}

.rojo{
  background-color: red;
}